################################################
## Functions
################################################
exportPattern("^[[:alpha:]]+")
exportPattern("gl")

################################################
## S3 classes
################################################

################################################
## useDynLib
################################################

useDynLib(GeneralizedLambda,
          gl_fmkl_distfunc,
          gl_rs_distfunc,
          gl_fm5_distfunc)
